@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);


header{
	padding-top: 3em;
	min-height: 500px;
    
}

footer{
	border-top: solid 3px #d87e28;
	background-color: #afb3c2;
	font-size: 12px;
	padding-top: 1em;
}

h1{
	font-size: 36pt;
    font-family: 'Lato';
    margin-bottom: 4%;
    color: white;
    background-color: rgba(0,0,0,.49);
    padding: 10px;
}

h2{
    font-size: 16pt;
    font-family: 'Lato';
    color: white;
    background-color: rgba(0,0,0,.49);
    padding: 10px;
}   
html{
    height: 100%;
}

#welcome {
        font-size: 16pt;
    font-family: 'Lato';
    color: white;
    background-color: rgba(0,0,0,.49);
    padding: 10px;
    
}
body{
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}

button{
	margin-top: 3%;
    
}
nav{
	position:fixed;
	z-index: 10;
	width: 100%;
	height: 1.5em;
	background-color: rgba(112,126,157,1);
}
nav li{
	display: inline;
	padding-left: 0.5em;
}
body{
	font-size: 16px;
	font-weight: 300;
	background-color: #E9EAEE;	
	padding-top: 70px;
}

#HowToUse{
	background-color: rgba(102,192,219,1);
    
}

